* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(Assets/Hero-bg.png);
  min-height: 80px;
  height: 850px;
}

.logo {
  padding-top: 10px;
  padding: 4px;
  font-family: sans-serif;
  font-weight: bold;
  color: #020202;
  font-size: 30px;
  background-color: aqua;
  border: 5px solid aqua;
  border-radius: 20px;

}

.btn {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  width: 150px;
  height: 40px;
  background-color: aqua;
  border: none;
  border-radius: 15px;
}

.btn:hover {
  color: #ffffff;
  background-color: blue;
}

.first_div {
  padding: 100px 100px;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
  color: #474747;

}

.sub_headint_btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;

}

.btn_2 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  width: 200px;
  height: 40px;
  background-color: aqua;
  border: none;
  border-radius: 15px;
}

.btn_2:hover {
  color: #ffffff;
  background-color: blue;
}





.content {
  display: flex;
  justify-content: space-between;
  margin: 100px;
  margin-top: 200px;
  align-items: center;

}

.child-content h2 {
  font-size: 70px;
  font-family: sans-serif;
  align-items: center;
  padding-bottom: 50px;



}

.child-content {
  margin-top: 30px;
}

.child-content p {
  font-size: 45px;
  font-family: sans-serif;
  padding-bottom: 50px;
  color: #474747;


}

.btn_3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  width: 250px;
  height: 50px;
  background-color: aqua;
  border: none;
  border-radius: 15px;

}

.btn_3:hover {
  color: #ffffff;
  background-color: blue;

}

.content_image {
  height: 13.5cm;
  border-radius: 50px;
}

.usar_heading {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 100px;
  padding-bottom: 0;
  color: #474747;
}

.usar_content {
  height: 450px;
  border-radius: 30px;
  width: auto;
  background-color: #dbdbdb;
  margin: 100px;
  margin-top: 90px;
}

.persent_child {
  display: flex;
  justify-content: space-between;
}

.persent_child .k {
  font-size: 20PX;
  margin: 0 100px;
  padding-bottom: 30px;

}

.top_pragraph {
  padding-top: 50px;
  color: rgb(3, 189, 179);
  font-size: 100px;
  font-family: sans-serif;
  font-weight: bold;
}

.bottom_pragraph {
  color: #3d3c3c;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;

}

.saction_4 {
  height: 450px;
  width: auto;
  margin: 0 100px;
}

h4 {
  font-size: 80px;
  color: #3d3c3c;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}

.all_saction {
  display: flex;
  justify-content: space-between;
}

.sub_saction1 {
  margin-top: 20px;
  background-color: #e7e5e5;
}

h5 {
  font-size: 27px;
  color: #068f83;
  font-family: sans-serif;
  margin: 30px;
}

.sub_saction1 p {
  font-size: 30px;
  margin: 30px;
}


.img_2 {
  margin-left: 30px;
  height: 130px;
  width: 110px;
}

.star {
  font-size: 30px;
  margin: 30px;
}

.sub_saction1 {
  border-radius: 30px;
}

.sub_saction1 {
  margin: 20px 0;
}

.ladis_con {
  display: flex;
  justify-content: left;
}

}

.bottom_pragraph {
  margin-bottom: 20px;
}


.last_2 {
  border-radius: 40px;
  height: auto;
  width: auto;
  margin-top: 300px;
  background-color: #f0f0f0;
  margin-left: 100px;
  margin-right: 100px;
  padding: 100px;

}

h6 {
  font-size: 80px;
  padding: auto 40px;
  text-align: center;
  font-family: sans-serif;
  color: #3a3a3a;
  letter-spacing: 2px;
  word-spacing: 2;
}

.last_2 p {
  font-size: 2em;
  font-family: sans-serif;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 1px;
}


.btn_4 {
  font-size: 40px;
  height: 70px;
  width: 380px;
  font-family: sans-serif;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-left: 600px;
}

.last_2 img {
  width: 1620px;
  justify-content: ;
  border-radius: 50px;
}

.container {
  margin-top: 50px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 40px;
  align-items: center;

}

.left {

  flex: 1;
  font-size: 136px;
  font-weight: bold;
  color: #111;
  font-family: sans-serif;
  margin-left: 100px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  color: #000;
  padding: 12px 15px;
  font-size: 70px;
  border: 1px solid #000000;
  border-radius: 6px;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  background-color: #007BFF;
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  height: 70px;
}

button:hover {
  background-color: #0056b3;
}

label {
  font-family: sans-serif;
  font-size: 44px;
  color: #050505;
}

::placeholder {
  font-size: 50px;
}

.last {
  height: 400px;
  width: auto;
  font-size: 300px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 180px;
}